html, body {
	height: 100%; width: 100%; margin: 0; padding: 0;
}
body{
	overflow:hidden; font-family: "Trebuchet MS";
}
#map{
	height: 100%; width: 100%;
	overflow:hidden;
	padding:0;
}
#tools {
	position: absolute;
	z-index: 31;
	right: 1em;
	top: 1em;
}

label[for=attributesTextArea], #sql > label {
	display: block;
}

.error {
	background-color: #ffcccc;
	border-color: #ff0000;
}
